header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d3d6da;
  margin-bottom: 13px;
  padding: 10px 15px 15px 10px;
}
.header-column {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-icon {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.header-title {
  font-size: 36px;
  font-weight: bold;
  padding-left: 85px;
}
